name: build

on:
  push:
    branches-ignore:
      - "dependabot/**"
    tags:
      - "release/*"
  pull_request:
    branches:
      - "main"

jobs:
  perl:
    env:
      AUTHOR_TESTING: 1

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - "5.38"
          - "5.36"
          - "5.34"
          - "5.32"
          - "5.30"
          - "5.28"
          - "5.26"
          - "5.24"
          - "5.22"
          - "5.20"
          - "5.18"
          - "5.16"
          - "5.14"
          - "5.12"

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v4
      - name: perl -V
        run: perl -V
      - uses: perl-actions/install-with-cpm@v1.7
        with:
          cpanfile: "cpanfile"
          args: "--with-suggests"
          sudo: false
      - name: Makefile.PL
        run: perl Makefile.PL
      - name: make test
        run: make test
